{
	auto_https disable_redirects
}

http://app.accountisland.com {
	redir https://app.accountisland.com{uri} permanent
}

https://app.accountisland.com {
	encode zstd gzip
	tls /etc/letsencrypt/live/app.accountisland.com/fullchain.pem /etc/letsencrypt/live/app.accountisland.com/privkey.pem

	reverse_proxy app:8080

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}
